.Button-Style {
    margin-bottom: 15px;
    padding: 5px;
    background-color: rgba(95, 95, 95, 0.555);
    border-radius: 5%;
    border: 1px solid rgb(0, 0, 0);
    font-weight: bold;
    font-size: 15px;
    color: white;
}

.Button-Style:hover {
    background-color: gray;
}