.About-Me {
    background-color: rgb(39, 65, 114);
    height: 100%;
    width: 100%;
    color: white;
    text-align: center;
    border-top: 4px solid rgba(6, 187, 30, 0.541);
    border-bottom: 4px solid rgb(156, 86, 141);
}

.About-Me-Head {
    background-color: rgb(83, 83, 83);
    height: 15px;
}

.About-Me-Img {
    height: 400px;
    width: 400px;
    padding: 30px;
    border-radius: 20%;
}

.About-Me p {
    text-align: left;
    font-size: 16px;
}

.About-Me span {
    color: rgb(43, 175, 43);
    font-weight: bold;
    font-size: 19px;
}

.About-links {
    justify-content: space-between;
    width: 50%;
    padding-top: 20px;
    margin: auto;
    right: 0;
    padding-bottom: 15px;
  }

.About-links a {
    color: white;
    font-size: 3em;
    padding: 8px;
    left: 0;
}

.Hover-Effect:hover {
    color: rgb(155, 65, 135);
}